<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>cms.utils.MyFilter</filter-class>
		<init-param>
			<param-name>filterPattern</param-name>
			<param-value>.*Servlet|.*\.jsp</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/backend/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cms.backend.servlet.LoginServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ChannelServlet</servlet-name>
		<servlet-class>cms.backend.servlet.ChannelServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BaseServlet</servlet-name>
		<servlet-class>cms.backend.servlet.BaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ArticleServlet</servlet-name>
		<servlet-class>cms.backend.servlet.ArticleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberServlet</servlet-name>
		<servlet-class>cms.site.servlet.MemberServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<servlet-class>cms.site.servlet.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MessageServlet</servlet-name>
		<servlet-class>cms.site.servlet.MessageServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberLoginServlet</servlet-name>
		<servlet-class>cms.site.servlet.MemberLoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckcodeServlet</servlet-name>
		<servlet-class>cms.backend.servlet.CheckcodeServlet</servlet-class>
		<init-param>
			<param-name>width</param-name>
			<param-value>55</param-value>
		</init-param>
		<init-param>
			<param-name>height</param-name>
			<param-value>20</param-value>
		</init-param>
		<init-param>
			<param-name>number</param-name>
			<param-value>4</param-value>
		</init-param>
		<init-param>
			<param-name>codes</param-name>
			<param-value>ABCDEFGHIGKLMNOPQRSTUVWXYZ</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>InitBeanFactoryServlet</servlet-name>
		<servlet-class>cms.backend.servlet.InitBeanFactoryServlet</servlet-class>
		<init-param>
			<param-name>configureLocation</param-name>
			<param-value>beans.properties</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
  <servlet>
    <servlet-name>MemberAdminServlet</servlet-name>
    <servlet-class>cms.backend.servlet.MemberAdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MultipartRequestWrapper</servlet-name>
    <servlet-class>cms.backend.servlet.MultipartRequestWrapper</servlet-class>
  </servlet>


	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/backend/LoginServlet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ChannelServlet</servlet-name>
		<url-pattern>/backend/ChannelServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BaseServlet</servlet-name>
		<url-pattern>/backend/BaseServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ArticleServlet</servlet-name>
		<url-pattern>/backend/ArticleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberServlet</servlet-name>
		<url-pattern>/site/MemberServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/site/IndexServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MessageServlet</servlet-name>
		<url-pattern>/site/MessageServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberLoginServlet</servlet-name>
		<url-pattern>/site/MemberLoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckcodeServlet</servlet-name>
		<url-pattern>/checkcode.jpg</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemberAdminServlet</servlet-name>
    <url-pattern>/backend/MemberAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MultipartRequestWrapper</servlet-name>
    <url-pattern>/backend/MultipartRequestWrapper</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>